@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-text bg-background;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

/* small helper styles */
html,body,#root { height: 100%; }
body { @apply bg-slate-50 text-slate-900; }
